*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 600px;
    border: solid 5px #000000;
    display: grid;
    grid-auto-rows: minmax(150px, auto);
    grid-template-areas: 
        "header header header"
        "leftside main main"
        "content1 content2 content3"
        "footer footer footer";
    grid-gap:15px 10px; /* row column*/

}
.item{
    background-color: red;
    border: 2px green solid;
    text-align: center;
}
.header{
    grid-area:header;
}
.left-side{
    grid-area: leftside;
}
.main{
    grid-area: main;
}
.content1{
    grid-area: content1;
}
.content2{
    grid-area: content2;
}
.content3{
    grid-area: content3;
}
.footer{
    grid-area: footer;
    background-color: #807e7e;
}


/*
    .container{
    border: 5px solid #000000;
    width:600px;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /*1fr 1fr 1fr
    grid-template-rows:repeat(3, 150px);
    grid-auto-rows: minmax(100px, auto);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-gap:10px 20px;
}
.item{
    background-color: red;
    width: 50px;
    border: 2px solid green;    
    width: auto;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.item-1{
    grid-column: 1/4;
}
.item-2{
    grid-row: 3/6;
    grid-column: 1/3;
}*/
